
.login-box form{
    width: 100%;
}
.login-box form input{
    width: 90%;
    height: 50px;
    margin-bottom: 25px;
    border: 1px solid #DADADA;
    border-radius: 8px;
    padding:0 20px;
}
#Submit-btn{
    margin: 0;
    border:none;
    border-radius: 8px;
    height: 50px;
    width: 50%;
    background-color: black;
    color: white;
}
.movie-name{
    width: 90%;
    margin-bottom: 25px;
}
.movie-name input{
    border-radius: 10px 0 0 10px!important;
    margin-bottom: 0!important;
    width: 100%!important;
}
.movie-name button{
    width: 30px!important;
    height: 50px;
    border: none;
    border-radius: 0 10px 10px 0!important;
    margin-top: 0!important;
}
.close-btn{
    color: white;
    background-color: rgb(83, 83, 83);
    border-radius: 0 20px 0 0;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="file"] {
    display: none;
}
.suggestions{
    transition: 0.5s;
    height: 450px;
    width: 450px;
    border-radius: 10px;
    overflow-y: scroll;
}
.title-header{
    
    display: flex;
    align-items: baseline;
}
.suggest-main{
    width: 100%;
    background-color: rgb(214, 214, 214);
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.suggest-img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.suggest-main p{
    padding: 10px 0;
}
.updateDB-btn{
    width: 100%;
    cursor: pointer;
}
.suggest-img img{
    width: 100%;
    height: auto;
}
.suggest-box-main{
    
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
