body{
    background-color: #e3e6e3;
}
.video-banner{
    height: 500px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    background-color: black;
    /* background-image: url("https://www.mirchi9.com/wp-content/uploads/2021/03/Jathi-Rathnalu-1.jpg"); */
    background-size: cover;
}
.video-banner:hover>.video-info{
    display: none;
}
.ytp-title-channel{
    display: none;
}
.video-info{
    position: absolute;
}
.video-banner h1,.video-banner p{
    color: rgba(0, 0,0, .6);
}
.home-hero{
    padding:120px 80px 0;
}
.stream-option{
    transition: 0.6s;
    width: 200px;
    height: 50px;
    margin: 50px;
    border: none;
    border-radius: 48px;
    box-shadow: 0px 3px 14px -4px rgb(0 0 0 / 75%);
}
.stream-option:nth-child(1){
    background-color: #e5b735;
}
.stream-option:nth-child(4){
    background-color: black;
    color: white;
}
.stream-option img{
    height: 25px;
}
.setting-btn{
    transition: 0.6s;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    border: 1px solid #DADADA;
    box-shadow: 0px 3px 14px -4px rgb(0 0 0 / 75%);
    margin: 0 10px;
}
button:hover{
    transition: 0.6s;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);

}
.friends-list{
    background-color: rgb(251 249 249);
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 0px 3px 14px -4px rgb(0 0 0 / 75%);
    overflow-y: scroll;
}
.col-lg-4{
    padding: 0 25px;
}
td img{
    width: 20px;
}
tr td:nth-child(2),tr th:nth-child(2){
    text-align: center;
}
.fa-user-circle{
    font-size: 20px;
    color: rgb(0 123 255 / 72%);
    margin-right: 5px;
}
.table thead th {
    border-top: none;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 45%;
    color: grey;
}
@supports ((-webkit-backdrop-filter:blur(2em)) or (backdrop-filter:blur(2em))) {
    /* .backdrop-blur {
      transition: 0.5s;
      background-color: rgba(0, 0, 0, 0.75);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px)
    } */
    .backdrop-blur{
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.75);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px)
    }
}

::-webkit-scrollbar {
    width: 0px;
    background-color: black;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    border-radius: 10px
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: outset 0 0 6px 20px rgba(0, 0, 0, .3);
    background:rgb(101, 164, 103);
  }